<div class="card-box">
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="create" id="addbtn" class="btn btn-success btn-rounded">Add New</a>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="table-responsive">

      <table class="table table-bordered" id="datatable" role="grid">
        <thead class="bg-primary text-white">
          <tr role="row">
            <th>Product ID</th>
            <th>Product Name</th>
            <th>HSN Number</th>
            <th>Units</th>
            <th>Sale Price</th>
            <th>GST%</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productsalesdata">
            <td>{{item.productID}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.hsnNumber}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.salePrice}}</td>
            <td>{{item.gst}}</td>
            <td><button class="btn btn-primary" routerLink="edit/{{item.productID}}">Edit</button> |
              <button (click)="delete(item.productID)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>