/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error{
    color: red;
}

.success{
    color: green;
}

.card-box {
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
